body {
  padding: 1em;
  background-color: #282828;
  color: snow;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
}

.div-w75 {
  width: 75%;
  max-width: 75%;
}

.img-icon {
  padding: 1em;
  width: 10em;
  min-width: 50px;
  max-width: 30%;
}
