@import "../../node_modules/bootstrap/scss/bootstrap";

body {
  padding: 1rem;
  background-color: #282828;
  color: snow;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  font-size: calc(10px + 1vmin);
}

.div-w75 {
  width: 75%;
  max-width: 75%;
}

.mini-icon {
  max-width: 1.5rem;
  vertical-align: middle;
}

.img-icon {
  padding: 1rem;
  width: 10rem;
  min-width: 50px;
}

.message {
  top: 4rem;
  right: 4rem;
}

.round-border-left {
  border-radius: 0;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.round-border-right {
  border-radius: 0;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
