{% extends "/page/main.twig" %}

{% block title %}404{% endblock %}

{% block page %}
<div class="jumbotron bg-dark">
  <h1 class="display-4">Error 404!</h1>
  <p class="lead">Page not found!</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Go back</a>
</div>
{% endblock %}
