<!DOCTYPE html>

<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Adonis Stavridis, Mika Filleul">
    <meta name="description" content="A simple Todo-list app, developpend in PHP.">
    <meta name="theme-color" content="#282828">
    <link rel="stylesheet" href="css/main.css">
    <link rel="icon" href="img/logo.svg">
    <title> Todo - {% block title %}Welcome{% endblock %}</title>
  </head>

  <body>
    <div id="page" class="w-100 h-100">
      {% block page %}{% endblock %}
    </div>

    {% if message %}
    <div class="position-absolute message">
      {% block notification %}{% endblock %}
    </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="dist/bundle.js"></script>
  </body>
</html>
