{% extends "/page/home.twig" %}

{% block taskPage %}
<div class="bg-dark p-4 mb-2 d-flex flex-column rounded">
  {% block taskDiv %}
  <h1 class="my-auto">Choose a task</h1>
  {% endblock %}
</div>

<div class="p-4 mb-2 d-flex flex-column">
  {% block commentDiv %}
  <h1 class="my-auto">Comments will show here</h1>
  {% endblock %}
</div>
{% endblock %}
